
<h2 style="color: #9e9e56;">ADD NUOVA AZIENDA</h2>


<form class="example-form">
  <mat-form-field class="example-full-width">
      <mat-label>nome</mat-label>
      <input type="text" matInput  
             placeholder="dip ingegneria">
  </mat-form-field>
  

  <mat-form-field class="example-full-width">
      <mat-label>dipendenti</mat-label>
      <input type="text" matInput  
             placeholder="10">
  
    </mat-form-field>





    <mat-form-field class="example-full-width">
      <mat-label>codice ateco</mat-label>
      <input type="number" matInput  
             placeholder="53942">

    </mat-form-field>






    <mat-form-field class="example-full-width">
      <mat-label>indirizzo</mat-label>
      <input type="number" matInput  
             placeholder="via saragat 1">

    </mat-form-field>


</form>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <button mat-button (click)="showData()" style="background-color: whitesmoke;">Show</button>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

 
