
<h2 style="color: #9e9e56;">ADD NUOVO CONTO ECONOMICO</h2>
<h3 style="color: #9e9e56;">{{nome}}</h3>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>valore produzione</mat-label>
        <input type="text" matInput  
               placeholder="1">

    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <mat-label>valore aggiunto</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>





      <mat-form-field class="example-full-width">
        <mat-label>margine operativo lordo</mat-label>
        <input type="number" matInput  
               placeholder="1">

      </mat-form-field>






      <mat-form-field class="example-full-width">
        <mat-label>reddito operativo</mat-label>
        <input type="number" matInput  
               placeholder="1">

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>reddito corrente</mat-label>
        <input type="text" matInput  
               placeholder="1">

    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <mat-label>reddito ante imposte</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>





      <mat-form-field class="example-full-width">
        <mat-label>reddito netto</mat-label>
        <input type="number" matInput  
               placeholder="1">

      </mat-form-field>






      <mat-form-field class="example-full-width">
        <mat-label>stilatura</mat-label>
        <input type="number" matInput  
               placeholder="2020-01-01">

      </mat-form-field>

  </form>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <button mat-button (click)="showData()" style="background-color: whitesmoke;">Show</button>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>