div{
    max-width: 500px;
    background-color:transparent;
    border-radius: 5%;
    text-size-adjust: 12px;
}

h2{color: #003953; background-color: #6f6f3f; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 65px; margin: 10 10 10px; text-align: left; margin-left: 0px;}

