<h2 style="color: #9e9e56;">ADD NUOVO STATO PATRIMONIALE</h2>
<h3 style="color: #9e9e56;">{{nome}}</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>immobilizzazioni materiali</mat-label>
        <input type="text" matInput
               placeholder="1">

    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <mat-label>immobilizzazioni immateriali</mat-label>
        <input type="text" matInput
               placeholder="1">

      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>immobilizzazioni finanziarie</mat-label>
        <input type="text" matInput 
               placeholder=" 1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>rimanenze di magazzino</mat-label>
        <input type="text" matInput 
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>liquidita differite</mat-label>
        <input type="text" matInput 
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>liquidita immediate</mat-label>
        <input type="text" matInput 
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>capitale sociale</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>riserva legale</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>riserva straordinaria</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>riserva partecipazioni</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>tfr consolidato</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>debiti banche consolidati</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>debiti fornitori consolidati</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>debiti tributari consolidati</mat-label>
        <input type="number" matInput  
               placeholder="0340392">

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>tfr corrente</mat-label>
        <input type="text" matInput  
               placeholder="Dip ingegneria">

    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <mat-label>debiti banche correnti</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>debiti fornitori correnti</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>debiti dei titoli azionari</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>debiti tributari correnti</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>debiti verso gli azionisti</mat-label>
        <input type="text" matInput  
               placeholder="1">

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>stilatura</mat-label>
        <input type="number" matInput  
               placeholder="2020-01-01">

      </mat-form-field>


  </form>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <button mat-button (click)="showData()" style="background-color: whitesmoke;">Show</button>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>